@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lora', serif !important; /* Изящный шрифт с засечками */
    overflow-x: hidden;
}

/* .info-aboutus {
    margin-top: 130px;
    margin-bottom: 45px;
} */
h2{
    font-size: 25px;
}
.checkbox-theatre{
    width: 100px;
    height: 100px;
    display: none;
}
.label-theatre{
    display: none;
}
.asdd:hover .asd {
    top: -200px;
    transition: top 0.3s;
} 
.asd {
    top: 0;
    position: relative;
}
