@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lora', serif !important; /* Изящный шрифт с засечками */
}

.info-aboutus {
    margin-top: 130px;
    margin-bottom: 45px;
}
