@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lora', serif !important; /* Изящный шрифт с засечками */
    overflow-x: hidden;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* .info-aboutus {
    margin-top: 130px;
    margin-bottom: 45px;
} */
.checkbox-theatre{
    width: 20px;
    height: 20px;
}
.form-theatre{
    display: grid;
    grid-template-columns: repeat(10,  1fr);
    gap: 10px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 200px;

}
.label-theatre{
    display: flex;
    flex-direction: column;
}
/* Маркер в профиле */
li button::before {
    font-size: 1.2em; /* Пример: немного больше размер */
}


