body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 200px;
    border-bottom: 2px solid #fbbf24; /* Цвет рамки под золото */
    position: fixed;
    width: 100%;
    z-index:999;
    height: 98px;
}
@media (max-width: 768px) {
    .header {
      padding: 1rem 20px; /* Adjust padding for smaller screens */
      height: auto;     /* Let height adjust to content */
    }
  }
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #007f7f; /* Цвет текста логотипа */
    text-decoration: none;
}

.logo:hover {
    color: #fbbf24; /* Золотой цвет при наведении */
}

.nav-list {
    list-style: none; /* Убираем стандартные маркеры списка */
    padding: 0;
    display: flex;
    margin-top: 15px;

    gap: 1.5rem; /* Отступ между элементами списка */
}

.burger-container {
    position: relative; /* Позволяет меню позиционироваться относительно контейнера */
}

.burger-nav-list {
    left: 50%; /* Центрируем по горизонтали */
    top: 100%; /* Устанавливаем меню под иконкой */
    transform: translateX(-50%); /* Сдвигаем меню на половину его ширины для центрирования */
    text-align: center;
    width: 200px;
    height: auto; /* Автоматическая высота для адаптивности */
    list-style: none; /* Убираем стандартные маркеры списка */
    position: absolute;
    display: none; /* Скрываем меню по умолчанию */
    flex-direction: column;
    gap: 10px; 
    background-color: white;
    border: 3px solid #fbbf24;
    border-radius: 10px;
    padding: 5px;
    z-index: 1;
}

.burger-nav-list.show {
    display: flex; /* Показываем меню при добавлении класса 'show' */
}

.burger-button{
    width: 40px;
    height: 40px;
    display: none;
    margin-top: 10px;
    transform: rotate(0deg);
    transition: all 0.3s;
    cursor: pointer;

}
.nav-link {
    color: #007f7f; /* Цвет текста ссылки */
    text-decoration: none;
    transition: color 0.3s; /* Плавный переход цвета */
}

.nav-link:hover {
    color: #fbbf24; /* Золотой цвет при наведении */
}

.main-content {
    flex: 1 1 auto;
    margin-top: 80px; /* Отступ для фиксированного заголовка */
    margin-bottom: 40px;

}

.footer {
    color: #007f7f; /* Цвет текста в футере */
    padding: 1rem;
    text-align: center;
    border-top: 2px solid #fbbf24; /* Рамка "под золото" */
}
@media (max-width: 768px) {
    .main-content{
        position: absolute;
        overflow-x:hidden;
        padding: 10px;
    }
  }
